input {
    width: 20%;
    height: 1.8rem;
    border-radius: 50px;
}

form {
    width: 100%;
}

iframe {
    width: 80%;
    height: 720px;
    border: 1px solid aliceblue
}

#submit-button {
    width: 5%;
}

#music-video {
    width: 62%;
}

#lyric-video {
    width: 35%;
}

#wiki {
    width: 67%;
}

#navbar {
    background-color: rgb(30, 30, 30);
    height: 15vh;
    color: aliceblue;
    display:flex;
    justify-content: center;
    align-items: center;
}

#title-bar {
    background-color: rgb(48, 157, 150);
    color: black
}

.Title-Headers {
    color: aliceblue;
}