input {
    width: 20%;
    height: 1.8rem;
    border-radius: 50px;
}

form {
    width: 100%;
}

iframe {
    width: 70%;
    height: 576px;
    border: 1px solid aliceblue
}

#submit-button {
    width: 5%;
}

#music-video {
    width: 65%;
    height: 576px;
}

#lyric-video {
    width: 30%;
    height: 576px;
}

#wiki {
    width: 75%;
    height: 576px;
}

#navbar {
    background-color: rgb(30, 30, 30);
    height: 15vh;
    color: aliceblue;
    display:flex;
    justify-content: center;
    align-items: center;
}

.Title-Headers {
    color: aliceblue;
}